*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.margin{
    width: 80%;
    margin: 0 auto;
}
/*inizio debug*/

.debug .container-img{
    width: 15%;
    height: 100%;
}

.debug .container-nav2{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    padding-left: 250px;
}

.debug .nav1{
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 15%;
}

.debug .partner .img-partner{
    width: calc(100% / 2 - 40px);
    background-color: orchid;
}

.debug #special{
    height: 50px;
}
 .debug .prova-gratuita{
     height: 200px;
     background-color: pink;
 }

.debug #domande{
    height: 300px;
    margin: 20px 0;
    background-color: salmon;
}

/*fine debug*/

/*inizio header*/
header{
    width: 100%;
    height: 70px;
    background-color:white;
    position: relative;
    line-height: 70px;
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 500;
}

#logo{
    width: 150px;
    margin: 20px;
    vertical-align: middle;
}

ul li{
    display: inline-block;
    margin-right: 20px;
    height: 70px;
}

li:hover{
    border-bottom: 2px solid black;
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#inizia{
    color:white;
    text-decoration: none;
    font-size: 20px;
    background-color: blue;
    padding: 5px 10px;
}

/*fine header*/

/*inizio jambotrom*/
#jambotrom{
    height: 800px;
    background-color:lightblue;
    margin-bottom: 200px;
    margin-top: 70px;
    position: relative;
}

h1{
    font-size: 60px;
    padding: 50px;
}

#paragrafo-button{
    font-size: 20px;
    padding-right: 70%;
    margin: 20px 40px;
}

#paragrafo-button a{
    display: block;
    text-decoration: none;
    margin: 20px 0;
    font-size: 16px;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px 5px;
}

#paragrafo-button h5{
    font-size: 15px;
}

#paragrafo-button .trasparenza:hover{
    background-color: rgba(254,254,254,0.5);
}

#freccia{
    font-size: 50px;
    margin: 20px;
}

#sfondo{
    position: absolute;
    right: 20px;
    top: 350px;
    
}

/*fine jambotrom*/

/*inizio titolo e radio button*/

.titolo h2{
    font-size: 40px;
    margin: 40px 0;
}

#radio-button{
    font-size: 20px;
    margin: 40px 0;
}

/*fine titolo e radio button*/

/*inizio piani abbonamento*/

.container{
    width: 100%;
    height: 500px;
    background-color: green;
    margin: 50px 0;
}

.debug .box{
    width: calc(100% / 3 - 40px);
    height: 300px;
    background-color: palegoldenrod;
}

.titolo-box{
    width: 100%;
    height: 40px;
    background-color: orange;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border: 1px solid black;
}

.paragrafo{
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    line-height: 50px;
}

.paragrafo h3{
    font-size: 25px;
}

.paragrafo h5{
    color: lightgray;
}

.descrizione{
    width: 100%;
    margin-top: 50px;
}

.descrizione span{
    display: inline-block;
    line-height: 16px;
}

.descrizione span i{
    margin-right: 8px;
}

.paragrafo .button a{
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.paragrafo .button{
    margin-top: 40px;
}

.punti-salienti{
    width: 100%;
    margin-top: 40px;
}

.punti-salienti span{
    display: inline-block;
    line-height: 18px;
}

.punti-salienti ul li{
    line-height: 18px;
}

.punti-salienti span i{
    color: green;
    margin-right: 10px;
}

/*fine piani abbonamento*/


/*inizio contatti uffici vendite*/

#titolo-team{
    height: 40px;
    width: 100%;
    margin-top: 550px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    border: 1px solid black;
}

#Team #contatti-vendite{
    border: 1px solid black;
    padding: 20px;
    position: relative;
}

#Team #contatti-vendite h3{
    font-size: 25px;

}

#Team #contatti-vendite h4{
    margin: 20px 0;
}

#vendite-button{
    position: absolute;
    top: 40px;
    right: 20px;
}

#vendite-button a{
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px;
}

/*fine contatti uffici vendite*/

/*inizio sezione trova partner*/

.partner .Trova-partner{
    padding: 80px 40px;
}

.partner .Trova-partner h2{
    font-size: 30px;
    margin-bottom: 40px;
}

.partner .Trova-partner p{
    line-height: 25px;
}

.partner .Trova-partner a{
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 50px 0;
    border: 1px solid black;
    padding: 20px;
}

/*fine sezione trova partner*/


.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.img-partner, .box{
    margin: 20px;
    float: left;
    height: 300px;
}

footer{
    height: 600px;
    background-color: black;
}

